@media screen and (min-width:320px) and (max-width:480px) {
    /* navbar starts */
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;width: 100%;margin-top: 20px;gap:20px;

    }
    nav{
        margin: bottom 20px; ;
    }
    /* navbar ends */
    /* banner starts */
    .banner-container{
        flex-direction: column-reverse;margin-top: 30px;gap: 20px;
    }
    .banner-text{
        width:100%;margin: 0;
    }
    .banner-text div{
        width:100%;padding: 20px;
    }
    .banner-image {
        width: 100%;
    } 
    .banner-image img{
        width: 100%;padding: 20px;
    } 
    /* banner ends */
    /* online-game section */
    .online-game-container{
        flex-direction: column;
    
    }
    .game-card{
        width: 100%;padding: 40px;
    }
    /* online-game section ends */
    /* instant-play section start */
    .instant-play-container{
        flex-direction: column;margin: 20px;
    
    }
    .instant-play-text{
        width: 100%;text-align: center;padding-top: 50px;
    }
    .instant-play-des{
        padding: 0px;
    }
    .instant-play-images{
        width: 100%; height: 100%;position: relative;margin-top: 50px;
    
    }
    .instant-play-images .image1{
        width: 80%;height: 100%;position: absolute;right: 30px;
    }
    .instant-play-images .image2{
        width: 40%;height: 50%;absolute;bottom: -40px;left: 0px;
    }
    /* game-zone starts */
    .game-container{
        display: grid;grid-template-columns: repeat(3,1fr);padding: 30px;
    }
    .game-container button{
        padding: 5px 10px;
        
    }
    .game-container p{
        font-size: 10px;
    }
    /*  */
    /*footer starts  */
    footer{
        padding: 100px 30px;
    }
    
    .footer-text,.footer-icons{
       padding: 10px;margin: 0;
        display: grid;grid-template-columns: repeat(3,1fr);
    }
    .footer-terms-condition{
        padding: 10px;margin: 0;
         display: grid;grid-template-columns: repeat(2,1fr);
     }





}

/* tablet view */
@media screen and (min-width:481px) and (max-width:768px) {
    /* navbar starts */
    .nav-container{
        flex-direction: column;
    }
    .nav-logo{
        justify-content: center;align-items: center;
    }
    .nav-item-container{
        flex-direction: column;width: 100%;margin-top: 20px;gap:20px;

    }
    nav{
        margin: bottom 20px; ;
    }
    /* navbar ends */
     /* banner starts */
     .banner-container{
        flex-direction: column-reverse;margin-top: 30px;gap: 20px;
    }
    .banner-text{
        width:100%;margin: 0;padding: 50px;
    }
    .banner-text div{
        width:100%;padding: 50px;text-align: center;
    }
    .banner-image {
        width: 100%;
    } 
    .banner-image img{
        width: 100%;padding: 50px;
    } 
    /* banner ends */
    /* online-game section starts */
    .online-game-container{
        display: grid;grid-template-columns: repeat(2,1fr);
    
    }
    .game-card{
        padding: 10px;width: 100%;
    }

    /* online-game section ends */
       /* instant-play section start */
    .instant-play-container{
        flex-direction: column;margin: 20px;
    
    }
    .instant-play-text{
        width: 100%;text-align: center;padding-top: 50px;
    }
    .instant-play-des{
        padding: 30px;
    }
    .instant-play-images{
        width: 100%; height: 100%;position: relative;margin-top: 50px;
    
    }
    .instant-play-images .image1{
        width: 70%;height: 100%;position: absolute;right: 50px;
    }
    .instant-play-images .image2{
        width: 30%;height: 50%;position:absolute;bottom: -40px;left: 40px;
    }


       /*  */
    /*  */
    /*footer starts  */
    footer{
        padding: 100px 30px;
    }
    
    .footer-text{
       padding: 10px;margin: 0;
        display: grid;grid-template-columns: repeat(3,1fr);
    }
    .footer-terms-condition{
        padding: 10px;margin: 0;
         display: grid;grid-template-columns: repeat(2,1fr);
     }


    
}








    
    