@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;

}
/* nav bar starts */
.nav-container{
    max-width: 1200px;border:1px solid red;min-height: 50px;margin: 0 auto;display: flex;align-items: center;
}
.nav-logo{
    width:50%;border: 1px solid green;display: flex;align-items: center;

}
.nav-logo img{
    width:70px;height: 30px;border: 1px solid salmon;margin-right: 20px; object-fit: cover;
}
.nav-logo h1{
    border: 1px solid slateblue;font-size: 45px;
    font-weight: 700;
}
.nav-item-container{
    width:50%;border: 1px solid blue;display: flex; justify-content: space-between;align-items: center;
}
.nav-item-container a{
    text-decoration: none;color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.G-text{
    color:  #FF42A5;
}

.nav-button{
    background-color: rgba(11, 2, 35, 0.10);border-radius: 5px;padding: 10px 20px;

}
.fa-brands{
    font-size: 20px;
}
/* navbar ends */
/* banner part starts */
.banner-container{
    border: 1px solid green;min-height: 500px;margin: 0 auto;display: flex;
    justify-content: center;margin-bottom: 20px;
}
.banner-text{
    width:50%; border:1px solid orangered;
    background-image: url("./images/Group 14.png");
}
.banner-text div{
    border:1px solid #FF42A5;width: 100%;padding: 40px  150px; 

}
/* position: absolute;right: 220px;top: 50px; */
.banner-text h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;margin: 0;
}
.banner-text h2{
    background-image: linear-gradient(to bottom,#F948B2 , #8758F1 );
    color: transparent;
    -webkit-background-clip: text;font-size: 95px;
    font-weight: 800;margin: 0;
}
.banner-text p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}
.btn1{
    padding: 15px 30px;background-color: #FF42A5;color: white;border-radius: 30px;

}
.btn2{
    padding: 15px 30px;background-color: #4EC5F7;;color: white;border-radius: 30px;

}

.banner-image{
    width:50%; border:1px solid blue;
}
.banner-image img{
    width: 80%;height: 100%;
}
/* banner ends */
/* online game part starts */
.online-game-section{
    max-width: 1200px ;margin: 0 auto;align-items: center;text-align: center;margin-top: 100px;

}

.online-game-container{
    border:1px solid red;min-height: 50px;
    display: flex;gap:25px;margin: 50px auto;

}
.online-game-section h2,.instant-play-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;margin-bottom: 20px;

}
.online-game-section .coloured-text,.instant-play-coloured-text{
    font-size: 48px;
    font-weight: 700;background-image: linear-gradient(to bottom,#F948B2 , #8758F1 );
    color: transparent;
    -webkit-background-clip: text;
    
}
.online-game-section p,.instant-play-des{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.game-card{
    width: 30%;border: 1px solid blue;
}
.game-card img{
    width: 100%;display: block;margin: 0 auto;
}
.game-card figcaption{
    text-align: left;
}
/* online-game section ends */
.instant-play-container{
    max-width: 1200px ;margin: 50px auto;border:1px solid red;min-height: 450px;
    display: flex;

}
.instant-play-text{
    width: 50%;border: 1px solid green;text-align: right;padding-top: 50px;
}
.instant-play-images{
    width: 50%;min-height: 450px;border: 1px solid blue;position: relative;

}
.instant-play-images .image1{
    width: 70%;height: 100%;position: absolute;right: 0px;
}
.instant-play-images .image2{
    width: 35%;height: 50%;position: absolute;bottom: 0px;left: 70px;
}